@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme {
  --font-pinyon: var(--font-pinyon), cursive;
  --font-didact: var(--font-didact), sans-serif;
  --font-perandory: var(--font-perandory), serif;
  --font-comfortaa: var(--font-comfortaa), sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}